:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  min-height: 95vh;
}

body {
  font-size: 1.6rem;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.content {

  margin-top: 7.5rem;
  margin-bottom: 10rem;

}
