.redirect-form-container {
    min-height: 50rem;
    width: 80rem;
    border: 2px solid white;
    border-radius: 0.62rem;
}

#package-redirect-button {
    width: 12rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.redirect-package-proceed {
    position: relative;
    top: 20rem;
    left: 62rem;
}