.searchbar-container {
    min-height: 25rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10rem;
    left: 35%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: transparent;
    backdrop-filter: blur(0.3rem);
}
#search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-left: 2rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
