.searchbar-container {
  min-height: 25rem;
  width: 60rem; /* try to do it more flexible  */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10rem;
  margin: auto;
  border: 1px solid white;
  border-radius: 2%;
  background-color: transparent;
  backdrop-filter: blur(0.3rem);
}
#search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-left: 2rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
