.searchbar-container {
    min-height: 15rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10rem;
    left: 45%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: transparent;
    backdrop-filter: blur(0.3rem);
}
