.dropdown {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
    border: 2px solid green;
    background-color: transparent;
    color: black;
}
.down {
    min-width: 30%;
    color: black;
    
}
.css-6j8wv5-Input {
color: black;
}