:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: 000;
}

.mercury {
  background: url("https://www.solarsystemscope.com/images/textures/full/2k_makemake_fictional.jpg")
    repeat-x !important;
  box-sizing: content-box;
}
.venus {
  width: 100%;

  background: url("https://nasa3d.arc.nasa.gov/shared_assets/images/ven0aaa2/ven0aaa2-copy-428-321.jpg")
    repeat-x !important;
}
.earth {
  background: url("https://img00.deviantart.net/04ef/i/2009/114/3/e/new_earth_texture_map_by_lightondesigns.jpg")
    repeat-x !important;
}
.mars {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mars_texture.jpg")
    repeat-x !important;
}
.jupiter {
  background: url("https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA07782_hires.jpg")
    repeat-x !important;
}
.saturn {
  background: url("https://www.solarsystemscope.com/images/textures/full/2k_saturn.jpg")
    repeat-x !important;
}
.uranus {
  background: url("https://img00.deviantart.net/957c/i/2017/165/4/9/uranus_texture_map_by_jcpag2010-db7yjwb.png")
    repeat-x !important;
}
.neptune {
  background: url("https://img00.deviantart.net/f068/i/2017/165/b/c/neptune_texture_map_by_jcpag2010-dbcjcv5.png")
    repeat-x !important;
}
.pluto {
  background: url("https://pre00.deviantart.net/4677/th/pre/f/2015/314/4/e/pluto_map__2015_nov_10__by_snowfall_the_cat-d918tlb.png")
    repeat-x !important;
}

.slide > h1 {
  font-size: 3rem;
  text-align: right;
  margin: 1rem 0;
}

.slide {
  width: 3rem;
  margin: 3.2rem auto;
  padding: 2rem;
  text-align: center;
}

/* .planet_description {
  height: 2rem;
  text-align: center;
  width: fit-content;
} */

.planet {
  overflow: hidden;
  border-radius: 100%;
  width: 35rem;
  height: 35rem;
  position: relative;
  margin: 10rem auto;
  box-shadow: 0 0 10px 5px rgba(161, 159, 159, 0.387);
  opacity: 0.8;
}

.bg {
  width: 150rem;
  height: 100%;
  margin: auto auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: planet 60s 3.9s infinite linear;
}

@keyframes planet {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-600px, 0, 0);
  }
}

/* @media only screen and (max-width: 768px) {
  .display_planet {
    display: none !important;
  }

  .multiple_planet {
    display: none !important;
  }

  .single_planet {
    display: block !important;
  }
} */
/* @media screen and (max-width: 400px) {
  .three_planet {
    display: none !important;
  }
  .single_planet {
    display: block !important;
  }
  .multiple_planet {
    display: none !important;
  }
}
@media screen and (min-width: 401px) and (max-width: 1199px) {
  .three_planet {
    display: block !important;
  }
  .single_planet {
    display: none !important;
  }
  .multiple_planet {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .three_planet {
    display: none !important;
  }
  .single_planet {
    display: none !important;
  }
  .multiple_planet {
    display: block !important;
  }
} */
