:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
}

.contacts-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 6.25em;
  height: calc(100vh - 13.75em);
  backdrop-filter: blur(0.3rem);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  border-radius: 0.62rem;
  /* overflow: scroll; */
}

.contacts-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact, .company-info {
  margin: 2em;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.contact-name, .company-info-name {
  color: #FFFFFF;
}

.contacts-links-wrapper, .company-infos-links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacts-icon {
  color: var(--color-light-1);
  height: 2.5em;
  width: 2.5em;
  display: flex;
  text-align: center;
  margin: 0 1.5em;
}

.contacts-icon:hover {
  color: #1db702;
}

.art {
  height: 12em;
}



