:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  margin: 100px;
  height: calc(100vh - 13.75em);
  backdrop-filter: blur(0.3rem);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  border-radius: 0.62rem;
  /* overflow: scroll; */
}

/* .contacts-wrapper .id2 {
  color: blueviolet;
} */